/* Background */

body {background-color: beige}

/* Text Formatting */
h1{color: hsl(#5e77ff);
    font-size: 36px}
h2{color: rgb(#5e77ff);
    font-size: 28px}
h3{color: black; font-size: 20px}

/* Menu Formatting */
nav{color:#f4f2e0};